@import url('~/assets/css/table.css');

#page-content {
  overflow-wrap: anywhere;
  line-break: strict;
}

#page-content a {
  text-decoration: none;
}

#page-content a:not(.v-btn):hover {
  text-decoration: underline;
}